<div class="col s12 musicDiv">
    <div class="left waves-effect waves-light" style="padding-top: 10px" id="manage"><i class="material-icons">build</i></div>
    <div class="right waves-effect waves-light" style="padding-top: 10px" id="quit"><i class="material-icons">clear</i></div>
    <h5 id="musicName">Music</h5>
    <div class="row">
        <div class="col s4">
            <i class="material-icons large waves-effect waves-light">keyboard_arrow_left</i>
        </div>
        <div class="col s4">
            <i class="material-icons large waves-effect waves-light" id="play">play_arrow</i>
            <!-- <i class="material-icons large waves-effect waves-light">pause</i> -->
        </div>
        <div class="col s4">
            <i class="material-icons large waves-effect waves-light">keyboard_arrow_right</i>
        </div>
    </div>
</div>
<div id="alarmButton" class="hiddendiv z-depth-5">
    <p class="flow-text"></p>
</div>
