<a class="weatherwidget-io" href="https://forecast7.com/fr/50d653d03/lambersart/" data-label_1="LAMBERSART" data-font="Roboto" data-days="3" data-theme="desert" data-basecolor="#d98711" data-textcolor="#FFF" data-highcolor="#000000" data-lowcolor="#e4eefb" data-suncolor="yellow" data-cloudcolor="gray" >LAMBERSART</a>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>